html body {
    background: linear-gradient(to right, #d4ccbe, #baadad, #e7dbe7);
    font-size: 1.1rem;
}
form {
    width: 500px;
    margin: auto;
}
.warning {
    color:red;
    font-size: 14px;
}
.actives {
    background-color: #4ac2f5;
}
.form-inline {
    padding-top: 10vh;
}
.title-box {
    background-color: #fff;
    padding: 10px 0;
}
.company-info-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    width: 450px;
    height: 500px;
    margin: 40px auto;
}