html body {
    background: linear-gradient(
            to right,
            rgba(24,18,18, 0.3),
            rgba(24,18,18, 0.3)
    ),url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
}
a:hover {
    text-decoration: none;
    color: white;
}
.user-form {
    padding-top: 30vh;
}
form {
    max-width: 560px;
    margin: auto;
}
.warning {
    color:red;
    font-size: 14px;
}
.actives {
    background-color: #4ac2f5;
}
.form-inline {
    padding-top: 10vh;
}
.title-box {
    background-color: #fff;
    padding: 10px 0;
}
.company-info-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    width: 450px;
    height: 500px;
    margin: 40px auto;
}
