html body {
    background: linear-gradient(
            to right,
            rgba(24, 18, 18, 0.4),
            rgba(24, 18, 18, 0.4)
    ), url("../img/bg.jpg") no-repeat fixed center center;
    background-size: cover;
    color: white;
    height: 100vh;
}
#list {
    background: linear-gradient(
            to right,
            rgba(24, 18, 18, 0.5),
            rgba(24, 18, 18, 0.5)
    )
}
.content {
    max-width: 560px;
    margin: auto;
}
a:hover {
    text-decoration: none;
    color: white;
}
.user-form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 330px;
    max-width: 560px;
}
form {
    width: 100%;
    margin: auto;
}
.warning {
    color:red;
    font-size: 14px;
}
.actives {
    background-color: #4ac2f5;
}
.form-inline {
    padding-top: 10vh;
}
.title-box {
    background-color: #fff;
    padding: 10px 0;
}
.company-info-box {
    box-shadow: rgba(255, 255, 255, 0.55) 0px 5px 15px;
    background: white;
    width: 450px;
    height: 450px;
    margin: 40px auto;
}
